<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiUrl</key>
	<dict>
		<key>getListItens</key>
		<string>http://dev.4all.com:3003/tarefa</string>
		<key>getDetailItemById</key>
		<string>http://dev.4all.com:3003/tarefa/</string>
	</dict>
</dict>
</plist>
